<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">{{ env.appName }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">홈</a></li>
        <li><a routerLink="/user">회원</a></li>
        <li><a routerLink="/board">게시판</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login">로그인</a></li>
        <li><a routerLink="/register">회원가입</a></li>
        <li><a href="">로그아웃</a></li>
      </ul>
    </div>
  </div>
</nav>