<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/home">{{ env.appName }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">홈</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/user">회원</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/board">게시판</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="!user">
        <a class="nav-link" routerLink="/login">로그인</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!user">
        <a class="nav-link" routerLink="/register">회원가입</a>
      </li>
      <li class="nav-item dropdown" *ngIf="user">
        <button class="btn btn-warning nav-link dropdown-toggle text-dark" id="dropdownButton"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.Name }}</button>
        <div class="dropdown-menu" aria-labelledby="dropdownButton">
          <a class="dropdown-item" (click)="authService.logout()" style="cursor: pointer;">로그아웃</a>
        </div>
      </li>
    </ul>
  </div>
</nav>