<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/home">
    <i class="fa fa-gavel" aria-hidden="true"></i>
    {{ env.appName }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">홈</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/user">회원</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/board">게시판</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/charts">차트</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="!user">
        <a class="nav-link" routerLink="/login">로그인</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!user">
        <a class="nav-link" routerLink="/register">회원가입</a>
      </li>
      <li class="nav-item text-light" *ngIf="user">
        <span class="text-warning">{{ user.Name }}</span><top-timer></top-timer>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="errorResponse?.message" class="mx-md-5 alert alert-danger small">
  {{errorResponse?.message}}
</div>