<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
  <i class="fa fa-gavel fa-2x mr-3 text-white" aria-hidden="true"></i>
  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">{{ env.appName }}</h6>
    <small>차트</small>
  </div>
</div>

<div *ngIf="errorResponse?.message" class="alert alert-danger">
  {{errorResponse?.message}}
</div>

<div *ngIf="count">
  Users count : {{count.Users}}
  <hr>
  Boards count : {{count.Boards}}
  <hr>
</div>

<div *ngIf="charts">
  users chart
  <ul *ngFor="let user of charts.Users">
    <li>user_count : {{user.user_count}}</li>
    <li>dates : {{user.dates}}</li>
  </ul>
  <hr>
  boards chart
  <ul *ngFor="let board of charts.Boards">
    <li>user_count : {{board.board_count}}</li>
    <li>dates : {{board.dates}}</li>
  </ul>
</div>

<button type="button" class="btn btn-sm btn-outline-warning" (click)="toggleTable('user');">User</button>
<button type="button" class="btn btn-sm btn-outline-secondary" (click)="toggleTable('board');">Board</button>

<charts-view
  [table]="table"></charts-view>