<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
  <i class="fa fa-gavel fa-2x mr-3 text-white" aria-hidden="true"></i>
  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100">{{ env.appName }}</h6>
    <small>차트</small>
  </div>
</div>

<div *ngIf="errorResponse?.message" class="alert alert-danger">
  {{errorResponse?.message}}
</div>

<div class="row mt-1">
  <div class="col">
    <h6>총 데이터</h6>
    <hr>
    <div class="row align-items-center" *ngIf="count">
      <div class="col text-center">
        <h6>회원</h6>
        <h1>{{count.Users}}</h1>
      </div>

      <div class="col text-center">
        <h6>게시판</h6>
        <h1>{{count.Boards}}</h1>
      </div>
    </div>
  </div>
  <div class="col">
    <h6>그래프</h6>
    <hr>
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" class="btn btn-outline-secondary" (click)="toggleTable('user');">User</button>
      <button type="button" class="btn btn-outline-secondary" (click)="toggleTable('board');">Board</button>
    </div>

    <charts-view
            [table]="table"></charts-view>
  </div>
</div>

