/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f8f9fa !important;
    padding-top: 5rem;
}
.starter-template {
    padding: 1.5rem 1.5rem;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.bg-purple { background-color: var(--purple); }
.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
